body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:#125275; 
    color: #E2E6EA;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #125275; 
    align-items: center;
    padding: 2px 5px;
    text-align: center;
    font-size: 9pt;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}
nav{
    display: flex;
    justify-content: space-around;
    height: 50px; 
    align-items: center; 
}
a{
    text-decoration: none;
    margin: 9px;
    color: #E2E6EA;
}
.info{
    background-color: #E2E6EA;
    margin: 5px;
    padding: 1px 3px 10px 20px;
    border-radius: 5px;
    color: #125275;
}

fieldset{
    margin: 15px 10px;
    border-color: #E8C256;
    border-radius: 7px;
    display: flex;
    justify-content: flex-start;
}
fieldset > legend{
    font-weight: bold;
}
/* img{
    width: 200px;
    height: 200px;
} */
img{
    width: 100px;
    height: 100px;
}
ul{
    padding: 3px 5px;
    margin: 0px;
}
li {
	display: flex;
    justify-content: flex-end;
    margin: 7px 7px 7px 0px;
	list-style: none;
}
input{
    padding: 7px;
    border-radius: 9px;
    box-shadow: none;
    border: none;
    color: black;
    margin: 2px 5px;
}
input[type="number"]{
    border-radius: 5px;
    padding: 2px;
}
input[type="submit"]{
    background-color: #98C9F9;
    color: #125275;
}
input[type="reset"]{
    background-color: #C6523C;
    color: #E2E6EA;
}

* {
    box-sizing: border-box;
  }

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
    float: left;
  }

  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    img{
        width: 50%;
        height: 50%;
    }
  }
